{{ range .Items }}
<div class="card">
  <div class="row no-gutters">
    <div class="col-md-2">
      <a class="item url" href="{{ .URL }}"><img src="{{ .MediumImage.URL }}" width="{{ .MediumImage.Width }}" alt="photo"></a>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <dl class="fn">
          <dt><a href="{{ .URL }}">{{ .ItemAttributes.Title }}</a></dt>
          {{ with .ItemAttributes.Author }}<dd>{{ . }}</dd>{{ end }}
          <dd>{{ .ItemAttributes.Publisher }}{{ with .ItemAttributes.PublicationDate }} {{ . }}{{ end }}{{ with .ItemAttributes.ReleaseDate }} (Release {{ . }}){{ end }}</dd>
        </dl>
        <p class="powered-by" >(powered by <a href="{{ $.AppURL }}" >{{ $.AppName }}</a> {{ $.AppVersion }})</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
